.wrapper {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.input {
  width: 100%;
  padding: .75rem 1rem;
  border-radius: .5rem;
  border: none;
  box-shadow: #ccc 0 1px 3px 0;
  outline: none;
}

.input:focus {
  box-shadow: #ccc 0 3px 7px 0;
}

.btn {
  outline: none;
  border: none;
  border-radius: .5rem;
  padding: .75rem 1rem;
  cursor: pointer;
  background-color: blue;
  color: #fff;
  font-weight: bold;
}

.btn:hover, .btn:focus {
  background-color: darkblue;
}
